body{
    display:flex;
    flex-direction: column;
    height:100vh;
    justify-content: center;
    align-items: center;
}

header{
    background-color: blacksmoke;
}

footer{
    background-color: blacksmoke;
}

.content{
    flex:1;

}
.board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);

    width: 500px;
    height: 500px;
}

.cell {
    border: 1px solid black;
}
.content{
    display:flex;
    flex-direction: row;
    gap: 20px;
}