.form form{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:20px;
    padding:20px;
    border:1px solid #ccc;
    border-radius:5px;
    background-color:#937c67;

    height:100vh;
    transform:scale(2);
}